<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958023250920-ivub9ceqo07q8gs7vlorjo84a8stde25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958023250920-ivub9ceqo07q8gs7vlorjo84a8stde25</string>
	<key>API_KEY</key>
	<string>AIzaSyDRspjolYeK0xiTv1NE4D5j61jDp3ozFYI</string>
	<key>GCM_SENDER_ID</key>
	<string>958023250920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fgadeaDev</string>
	<key>PROJECT_ID</key>
	<string>fgadea-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>fgadea-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958023250920:ios:b8f14c59c0deb0c908aa5d</string>
</dict>
</plist>